h1 {
    color: red;
  }

  h1 {
    font-size: 50px;
  }

  p {
    color: rgb(0, 0, 0);
  }

 p {
    font-size: 20px;
  }

  h2 {
    color: red;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    color: red;
  }

  h3 {
    font-size: 50px;
  }

  h4 {
    color: green;
  }

  h4 {
    font-size: 30px;
  }