.flexbox-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}



ul {
    color: blue;
    padding: 0.5rem;
}

a {
    color: blue;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.5rem;
    text-decoration: none;
}

.flexbox-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

